@use 'mixins/mixins' as *;
@use 'mixins/config' as *;

@include b(card) {
  @include e(space) {
    display: flex;
    
    // 子项样式
    .#{$namespace}-card-space__item {
      width: 100%;
    }

    // 搜索区样式
    @include e(search) {
      .#{$namespace}-form-list {
        .#{$el-namespace}-form-item {
          margin: 10px 0;
        }
      }
    }
  }
}
