@use 'mixins/mixins' as *;

@include b(form-list) {
  @include e(info-item-title) {
    color: var(--el-color-primary);
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 1px;
      height: 15px;
      width: 4px;
      border-radius: 1px;
      background-color: var(--el-color-primary);
    }
  }

  .#{$el-namespace}-form-item__content > div {
    width: 100% !important;
  }

  @include e(show) {
    overflow: hidden;
    cursor: pointer;
    color: var(--el-color-primary);

    & ~ .#{$el-namespace}-col {
      transition: all 0.3s ease-in-out;
      max-height: 500px;
      opacity: 1;
    }

    &.active ~ .#{$el-namespace}-col {
      max-height: 0;
      opacity: 0;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  @include e(icon) {
    transition: transform 0.28s;

    @include when(active) {
      transform: rotate(-180deg);
    }
  }
}
