// @use 'sass:meta';
// @use 'mixins/config';

// $ns: config.$ql-namespace;
// @if meta.variable-exists('ql-namespace') {
//   $ns: $ql-namespace;
// }

// :root {
//   --#{$ns}-color-primary: #409eff;
// }
