$ql-namespace: 'ql' !default;
$el-namespace: 'el' !default;
$ql-common-separator: '-' !default;
$ql-element-separator: '__' !default;
$ql-modifier-separator: '--' !default;
$ql-state-prefix: 'is-' !default;
