@use 'sass:string';
@use 'sass:meta';
@forward 'config';
@use 'config';

// Define $B globally to avoid deprecation warning
$B: null;

@mixin b($block) {
  $ns: config.$ql-namespace;
  @if meta.variable-exists('ql-namespace') {
    $ns: $ql-namespace;
  }

  $separator: config.$ql-common-separator;
  @if meta.variable-exists('ql-common-separator') {
    $separator: $ql-common-separator;
  }
  
  $B: $ns + $separator + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $selector: &;
  $currentSelector: "";
  
  $separator: config.$ql-element-separator;
  @if meta.variable-exists('ql-element-separator') {
    $separator: $ql-element-separator;
  }

  @each $unit in $element {
    $currentSelector: #{$currentSelector + "." + $B + $separator + $unit + ","};
  }
  
  @if $currentSelector != "" {
    $currentSelector: string.slice($currentSelector, 1, -2);
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";
  
  $separator: config.$ql-modifier-separator;
  @if meta.variable-exists('ql-modifier-separator') {
    $separator: $ql-modifier-separator;
  }

  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + $selector + $separator + $unit + ","};
  }
  
  @if $currentSelector != "" {
    $currentSelector: string.slice($currentSelector, 1, -2);
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

@mixin is($state) {
  $prefix: config.$ql-state-prefix;
  @if meta.variable-exists('ql-state-prefix') {
    $prefix: $ql-state-prefix;
  }

  &.#{$prefix + $state} {
    @content;
  }
}

@mixin when($state) {
  @include is($state) {
    @content;
  }
}
